mss/alunos/node_modules/
mss/barramento_de_eventos/node_modules/
mss/cargo_professor/node_modules/
mss/consulta/node_modules/
mss/professores/node_modules/
mss/dia_aula/node_modules/
mss/horario_aula/node_modules/
mss/login/node_modules/
mss/temas/node_modules
mss/trabalhos/node_modules
mss/grupos/node_modules
mss/bancas/node_modules
mss/convidados/node_modules
mss/avaliacao/node_modules
mss/certificado/node_modules
mss/ata/node_modules
mss/api/

front-end/node_modules/
front-end/.env

front_end/node_modules/
front_end/.env

.env