body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*inicio - Painel - Gráficos*/


/* sidebar-cadastro #Inicio*/
.sidebar-cadastro {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 380px;
  height: 100vh;
  background-color: #345059;
  color: #EAEAEA;
  padding: 10px;
  float: left;
  font-size: 20px;
}

.sidebar-cadastro h3 {
  margin-top: 60px;
  margin-bottom: 120px;
  font-weight: 700;
}

.sidebar-cadastro img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.vocee {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  color: #345059;
  overflow-y: auto;
}

.vocee h4 {
  font-weight: 700;
  font-size: 22px;
}


.form-check-input:checked {
  background-color: #345059 !important;
  border-color: #345059 !important;
}

.form-control {
  border-color: #B3B3B3 !important;
}

/* sidebar-cadastro #Fim*/


.SignUpInfo_Cards_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* see notes below */
  grid-gap: 1em;
}

.App_Container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.App_MainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  /* Ocupa o espaço restante vertical */
  /* background-color: darkorchid; */
}

.App_Sidebar {
  width: 35vh;
  height: 100%;
  color: #EAEAEA;
}

.App_Sidebar ul {
  list-style: none;
  padding: 0;
}

.App_Sidebar li {
  margin: 10px 0;
}

.App_Sidebar a {
  text-decoration: none;
  color: #EAEAEA;
}

.Header_Container {
  display: flex;
  z-index: 999;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  border-bottom: 1px solid #666666;
}

.Painel_Container,
.Trabalhos_Container,
.Temas_Container,
.Bancas_Container {
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  width: 100%;
  flex: 1;
  padding-left: 1rem;
  /* border: 1px solid red;  */
  /* margin-left: 50px; */
}

.Trabalhos_Listar_Container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.titulo-lis-temas h6 {
  margin-top: 19px;
  align-items: center;
  border: 1px solid red;
}

.css-tzgv49 .ps-sidebar-container {
  width: auto !important;
}

.selected-menu-line-w {
  position: absolute;
  background-color: #b3b3b3;
  margin-top: -5px;
  z-index: 1;
  top: 0;
  left: 10px;
  width: 1px;
  height: 55px;
}

.selected-menu-line_turn_I-w,
.selected-menu-line_turn_II-w

/* .selected-menu-line_turn_III-w  */
  {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 0px 0px 0px 8px;
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
}

.selected-menu-line_turn_I-w {
  top: 12px;
}

.selected-menu-line_turn_II-w {
  top: 54px;
}

/* .selected-menu-line_turn_III-w {
  top: 69px;
} */

.selected-menu-line-b {
  position: absolute;
  background-color: #b3b3b3;
  margin-top: -5px;
  z-index: 1;
  top: 0;
  left: 10px;
  width: 1px;
  height: 55px;
}

.selected-menu-line_turn_I-b,
.selected-menu-line_turn_II-b,
.selected-menu-line_turn_III-b {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 0px 0px 0px 8px;
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
}

.selected-menu-line_turn_I-b {
  top: 12px;
}

.selected-menu-line_turn_II-b {
  top: 54px;
}

.selected-menu-line_turn_III-b {
  top: 67px;
}

.selected-menu-line {
  position: absolute;
  z-index: 1;
  background-color: #b3b3b3;
  left: 10px;
  width: 1px;
  height: 55px;
  margin-top: -5px;
}

.selected-menu-line_turn_I,
.selected-menu-line_turn_II,
.selected-menu-line_turn_III {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 0px 0px 0px 8px;
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #b3b3b3;
}

.selected-menu-line_turn_I {
  top: 12px;
}

.selected-menu-line_turn_II {
  top: 54px;
}

.selected-menu-line_turn_III {
  top: 72px;
}


.css-1cuxlhl {
  margin-top: -8px !important;

}

.css-z5rm24 ul,
.css-z5rm24 li {
  background-color: #345059 !important;
}

.ps-menuitem-root .css-1e4pcoh li {
  background-color: #345059 !important;
}

.ps-menuitem-root li {
  padding: 5px 0px !important;
}

/*Inicio - Espaçamento entre as ULs*/
.ps-menuitem-root ul {
  padding-top: 5px;
}

/* Fim - Espaçamento entre as ULs*/

.background {
  display: flex;
  height: 100vh;
}


/*footer */

.footer-comp {
  /* height: 148px; */
  display: flex;
  left: 0;
  background-color: #666666;
  top: 100%;
  width: 100%;
  /* width: 100%; */
  align-content: center;
}


.section {
  align-items: center;
  background-color: #90999b;
  display: flex;
  flex-wrap: wrap;
  gap: 75px 75px;
  height: 92px;
  left: 0;
  padding: 35px 0px 24px 25px;
  position: absolute;
  top: 0;
  width: 100%;
}

.footer-text {
  color: transparent;
  font-size: 12px;
  font-weight: 400;
  height: 70px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -27.5px;
  margin-top: -29.5px;
  position: relative;
  text-align: justify;
  width: 251px;
  /* border: 1px solid red; */

}

.ps-menu-label {
  font-size: 15px;
}

.span {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
}

.div {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  height: 70px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -27px;
  margin-top: -29px;
  width: 229px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 25px;
  gap: 24px;
  height: 50px;
  width: 341px;

}

.img {
  height: 24px;
  position: relative;
  width: 24px;
}

.container-wrapper {
  display: flex;
  align-items: center;
  background-color: #90999b;
  border-color: #eaeaea;
  border-top-style: solid;
  border-top-width: 1px;
  flex-direction: column;
  gap: 64px;
  height: 56px;
  justify-content: space-around;
  left: 0;
  /* padding: 12px 0px; */
  position: absolute;
  top: 92px;
  width: 100%;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 37px;
  margin-bottom: -2.5px;
  margin-top: -2.5px;
  padding: 0px 32px;
  position: relative;
  width: 285px;
}

.content {
  display: flex;
  align-items: center;
  height: 20px;
  position: absolute;
  width: 150px;
  padding-top: 25px;
  /* border: 1px solid red; */
}

.p {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 12px;
  margin-right: -199px;
  position: relative;
  width: 431px;
}

/*INICIO - CONFIGURAÇÃO DOS CARDS DO PAINEL*/

/*Professor*/
.imgCardProfessor {
  /* float: left;
  margin-top: 0; */
  margin-top: -30px !important;
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* .imgCardProfessor i {
  padding: 30px;
  margin-top: 3px;
  font-size: 30px;
  color: #345059;
  border-radius: 50%;
  background-color: #f9fada;
} */

/*Tamanho do segundo div de cardAluno*/
.cardProfessor > .imgCardProfessor:nth-child(2){
  width: 60%;
}

.textCardprofessorNome {
  font-size: 16px;
  color: #345059;
}

.textCardprofessorValor {
  margin-top: 5px;
}

.textCardprofessor {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: start;
  margin-left: 23px;
}

/*Aluno*/
.cardAluno {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 

.imgCardAluno {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: -30px !important;
}

/*Tamanho do segundo div de cardAluno*/
.cardAluno > .imgCardAluno:nth-child(2){
  width: 60%;
}

/* 
.imgCardAluno i {
  padding: 30px;
  margin-top: 3px;
  font-size: 30px;
  color: #345059;
  border-radius: 50%;
  background-color: #f9fada;
} */

.textCardAlunoNome {
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #345059;
}

.textCardAlunoValor {
  margin-top: 5px;
}

.textCardAluno {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: start;
  margin-left: 23px;
}



/*Temas*/

.cardTema {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 

.imgCardTema {
  /* margin-top: -20px !important; */
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* .imgCardTema i {
  padding: 30px;
  margin-top: 3px;
  font-size: 30px;
  color: #345059;
  border-radius: 50%;
  background-color: #f9fada;
} */

/*Tamanho do segundo div de cardAluno*/
.cardTema > .imgCardTema:nth-child(2){
  width: 60%;
}

.textCardTemaNome {
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #345059;
}

.textCardTemaValor {
  margin-top: 5px;
}

.textCardTema {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: start;
  margin-left: 23px;
}

/*TemasDisponiveis*/

.cardTemasDisponiveis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 


.imgCardTemasDisponiveis {
  /* float: left; */
  margin-top: -30px !important;
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* .imgCardTemasDisponiveis i {
  padding: 30px;
  margin-top: 3px;
  font-size: 30px;
  color: #345059;
  border-radius: 50%;
  background-color: #f9fada;
} */

.cardTemasDisponiveis > .imgCardTemasDisponiveis:nth-child(2){
  width: 60%;
}

.textCardTemasDisponiveisNome {
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #345059;
}

.textCardTemasDisponiveisValor {
  margin-top: 5px;
}

.textCardTemasDisponiveis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: start;
  margin-left: 23px;
}

/*Trabalho*/

.imgCardTrabalho {
  float: left;
  margin-top: 0;
}

.imgCardTrabalho i {
  padding: 30px;
  margin-top: 3px;
  font-size: 30px;
  color: #345059;
  border-radius: 50%;
  background-color: #f9fada;
}

.textCardTrabalhoNome {
  flex-wrap: nowrap;
  text-align: left;
  font-size: 16px;
  color: #345059;
}

.textCardTrabalhoValor {
  margin-top: 5px;
}

.textCardTrabalho {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: start;
  margin-left: 23px;
}

/*Bancas*/

/* .cardBanca {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}  */

.imgCardBanca {
  float: left;
  margin-top: 0;
  /* margin-top: -30px !important;
  display: flex;
  justify-content: center;
  align-items: center;  */
}

.imgCardBanca i {
  padding: 30px;
  margin-top: 3px;
  font-size: 30px;
  color: #345059;
  border-radius: 50%;
  background-color: #f9fada;
}

/*Tamanho do segundo div de cardBanca*/
/* .cardBanca > .imgCardBanca:nth-child(2){
  width: 60%;
} */

.textCardBancaNome {
  text-align: left;
  font-size: 16px;
  color: #345059;
}

.textCardBancaValor {
  margin-top: 5px;
}

.textCardBanca {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: start;
  margin-left: 23px;
}

/*Media*/
.imgCardMedia {
  float: left;
  margin-top: 0;
}

.imgCardMedia i {
  padding: 30px;
  margin-top: 3px;
  font-size: 30px;
  color: #345059;
  border-radius: 50%;
  background-color: #f9fada;
}

.textCardMediaNome {
  text-align: left;
  font-size: 16px;
  color: #345059;
}

.textCardMediaValor {
  margin-top: 5px;
}

.textCardMedia {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: start;
  margin-left: 23px;
}


/*FIM - CONFIGURAÇÃO DOS CARDS DO PAINEL*/

.text-center {
  background-color: #EAEAEA;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.texto p {
  font-size: 15px;
}


#root {
  background-color: #EAEAEA !important;
}

.btnLogin {
  background: linear-gradient(90deg, #FFA500 0%, #FFCD28 100%);

}

.btnCadastro {
  background: #345059 !important;

}

.css-hz5yau {
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #efefef;
  -webkit-transition: none !important;
  transition: none !important;
  width: 100% !important;
  min-width: 100% !important;
}

.ps-menu-button {
  padding: 5px !important;
}

.css-ewdv3l {
  padding-bottom: 5px !important;
}

/* INICIO - TELA CADASTRAR TRABALHO*/
.Trabalhos_Container,
.Temas_Container,
.Bancas_Container {
  color: #345059;
  overflow-y: auto;
}

.Trabalhos_Container .titulo-cad-trab,
.Temas_Container .titulo-cad-tem,
.Bancas_Container .titulo-cad-ban,
.Trabalhos_Container .titulo-edi-trab,
.Temas_Container .titulo-lis-trab,
.painel-controle,
.agenda-bancas .Trabalhos_Listar_Container .titulo-lis-temas {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 19px;
}

.painel-controle {
  padding: 15px;
  color: #345059;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.pi-file-edit:hover {
  color: #FFA500;
}

.container-fluid {
  padding: 0 !important;
}

.row {
  margin-right: 0 !important;
}

.form-control option:hover {
  background-color: #345059 !important;
}

/*Input professor covidados*/
.MuiButtonBase-root {
  background-color: #ffffff !important;
  color: #345059 !important;
}

/*icone excluir do Input professor covidados*/
.MuiSvgIcon-root {
  color: #82230F !important;
}

/*icone SETA do Input professor covidados*/
.MuiAutocomplete-popupIndicator,
.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator path {
  color: #000000 !important;
  background-color: #EAEAEA !important;
}

.MuiTableCell-body {
  color: #345059 !important;
}

.MuiTableCell-root,
.MuiTableCell-sizeMedium,
.css-1ex1afd-MuiTableCell-root td {
  padding: 13px !important;
}

.table-professor-ul {
  list-style: none !important;
  padding: 0 !important;
  border: 1px solid #EAEAEA !important;
}

.table-professor-ul ul {
  list-style: none !important;
  align-items: center !important;
}

/*Inicio - menu suspenso fazer logout*/
.p-menu {
  position: absolute;
  top: 77px !important;
  width: 10% !important;
  right: -10px !important;
  border-radius: 7px !important;
}

.p-menu ul {
  list-style: none !important;
  padding: 0 !important;
}

.p-menu li {
  margin: 0 10px !important;
}

.p-menu a:hover {
  border-radius: 7px;
  color: #82230F !important;
}

.p-menuitem-link {
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  text-decoration: none !important;
}

/*FIm - menu suspenso fazer logout*/

/*inicio - Letriero*/
.letreiro {
  position: absolute;
  left: 30%;
  right: 25%;
}

/*Fim - Letriero*/

/*classe  cards painel de controle*/
/* .MuiPaper-root {} */


/*Inicio - Classe plano de fundo da banca agendada */
.rbc-event {
  background-color: #FFA500 !important;
  color: #345059 !important;
  font-weight: 600 !important;
}

.rbc-active {
  background-color: #345059 !important;
  color: white !important;
  font-weight: 600 !important;
}

/*Fim - Classe plano de fundo da banca agendada */

/*Inicio - Página de erro */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100%;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 190px;
}

.notfound .notfound-404 h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0px;
  color: #333;
}

.notfound .notfound-404 h1>span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url('Assets/img/emoji.png');
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.notfound h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #333;
}

/* .notfound p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #787878;
  font-weight: 300;
} */

.notfound a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: #FFA500;
  color: #000;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  margin-top: 15px;
}

.notfound a:hover {
  opacity: 0.8;
}

/*Fim - Página de erro */


@media screen and (max-width: 1000px) {
  .p-menu {
    width: 18% !important;
  }

  .letreiro {
    display: none;
  }

  .App_MainContent {
    width: 100% !important;
  }

  .background {
    display: none;
  }

  .footer-mobile {
    margin-left: 27px !important;
  }

  /*Inicio - Menu-hamburgue*/
  .d-lg-none a {
    margin-bottom: 5px !important;
  }

  /*Fim- Menu-hamburgue*/

  /*Inicio - Página de erro */

  #notfound {
    height: 100vh;
  }

  .notfound .notfound-404 {
    height: 115px;
  }

  .notfound .notfound-404 h1 {
    font-size: 75px;
  }

  .notfound .notfound-404 h1>span {
    width: 75px;
    height: 75px;
  }

  .notfound h2 {
    font-size: 16px;
  }

  #notfound .notfound {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /*Fim - Página de erro */
}

@media screen and (max-width: 755px) {
  .background {
    display: none;
  }

  .p-menu {
    width: 40% !important;
    margin-right: -20px !important;
  }

  .welcome-mobile img {
    width: 180px !important;
    height: 188px !important;
    margin-top: -50px !important;
  }

  .welcome-mobile p {
    width: 160px !important;
    font-size: 12px !important;
  }

  .welcome-mobile>div {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: -25px !important;
  }

  .btnLogin, .btnCadastro {
    width: 155px !important;
  }
}

@media screen and (max-width: 300px) {
  .footer-mobile-detail {
    display: none;
  }

  .footer-mobile-social-media {
    display: none;
  }

}

/* FIM - TELA CADASTRAR TRABALHO*/